html, body{
}
footer{
    margin-top: 200px;
}
.account-container{
    margin-top: 150px;
}
.rounded-btn{
    border-radius: 100px;
    aspect-ratio: 1/1;
    width: 40px;
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}